body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}


div{
    height: 300px;
    width: 300px;
    background-color: blue;
}
input{
    padding-top: 0;
    margin-top: -250px;
    background-color: white;
    padding: 10px 40px;
    border-radius: 15px;
    border: none;
    outline: none;
}